{erl_opts, [
    warn_export_all,
    debug_info
]}.

{xref_checks, [
    undefined_function_calls,
    deprecated_function_calls,
    exports_not_used
]}.

{deps, [
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.4"}}}
]}.

{escript_name, "aoproxy"}.

{escript_incl_apps, [
    cowboy,
    cowlib,
    ranch
]}.
